@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hitung Luas Segitiga</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2>Hitung Luas Segitiga</h2>
           
            <div class="col-md-4 pre-scrollable" style="max-height:75vh">
                <form method="post" asp-controller="Hello" asp-action="LuasSegitiga">
                    <div class="form-group">
                        <label for="alas">Alas :</label>
                        <input type="number" name="alas" id="alas" value="@ViewData["alas"]" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="tinggi">Tinggi :</label>
                        <input type="number" name="tinggi" id="tinggi" value="@ViewData["tinggi"]" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="hasil">Hasil :</label>
                        <input type="number" name="hasil" value="@ViewData["hasil"]" class="form-control" disabled />
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Submit</button>
                </form>
            </div>
           
        </div>
    </div>
</body>
</html>
